@import "~antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  max-width: 720px;
  padding: 20px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

.route-error {
  margin: 4rem 0;
  font-size: 32px;
  text-align: center;
}
